body {
    width: 100%;
    background: url("../images/maxresdefault.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    overflow: visible;

}


#jumbotronID {
    background-image: url("../images/water_drop.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2rem 2rem;
    display:flex;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 0;


}

#jumbotronHdr {

    text-shadow: 8px 4px 4px black;
}

#author, #jumbotronTxt {

    text-shadow: 8px 2px 2px black;
}

#navBarID{
    background:rgba(14, 0, 145, 0.37);
}

#navBarName{
    border-radius: 20%;
    background:rgba(61, 47, 189, 0.76);
}

.nav-link-color{
    border-radius: 12%;
    background:rgba(61, 47, 189, 0.76);
}

#navLinks a.current_page{
    position:absolute;
    height:1px;
    bottom: 49%;
    background-color:black;

}

#aboutPage{
    background:rgba(208, 202, 255, 0.76);
}

#footerID{
    background:rgba(14, 0, 145, 0.37);
}