body {
    width: 100%;
    background: url("../images/shattered.png") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    overflow: visible;

}

a.deco-none {
    color:#000000 !important;
    text-decoration:none;

}

#jumbotronID {
    background-image: url("../images/water_drop_dark.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2rem 2rem;
    display:flex;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 0;


}

#jumbotronHdr {

    text-shadow: 8px 4px 4px black;
}

#author, #jumbotronTxt {

    text-shadow: 4px 2px 2px black;
}

#navBarID{
    background:rgba(0, 0, 78, 0.144);
}

#navBarName{
    border: 1px solid white;
    /* background:rgba(61, 47, 189, 0.85); */
}

.nav-link-color{
    /* background:rgba(61, 47, 189, 0.85); */
}

#navLinks a.current_page{
    position:absolute;
    height:1px;
    bottom: 49%;
    background-color:black;

}
.sectionTitle{
    background:rgb(0, 0, 78, .1);
}

.ov-hidden{
    overflow:hidden;
}

.tag-style {
    background:rgb(0, 0, 78, .15)
}

.carousel {
    background:rgb(0, 0, 78, .1);
}

.w-85 {
    width: 80%;
}

.pageContent{
    background:rgba(0, 0, 0, 0.0);
    color:black;
    font-weight: 400;
    font-size: 14pt;
}

.portfolioImg{
    margin: 20px auto;
}


.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.imgBox{
    position: relative;
}


.imageText{
    position: absolute;
    bottom: 17px;
    width: 100%;
    background: rgb(0, 0, 78);
}

.portfolioCard{
    background:rgb(5, 0, 46);
}

.fz-14 {
    font-size: 14px;
}

